
#nav {
    background-color: #ff9292
}

#logo {
    font-family: 'Patua One';
    vertical-align: text-bottom;
    display:inline-block;
    color: #ffe8e8;
}

.logo-prefix {
    font-size: 2em;
}

.logo-suffix {
   font-size: 1em;
}
